.MuiGrid-root.MuiGrid-container.css-16g5rpk-MuiGrid-root {
    justify-content: center;
}

.MuiAvatar-root.MuiAvatar-circular.MuiAvatar-colorDefault.css-r78mkd-MuiAvatar-root-avatar {
    margin-bottom: 20px;
}

button.MuiButtonBase-root.MuiButton-root.MuiButton-outlined.MuiButton-outlinedPrimary.MuiButton-sizeMedium.MuiButton-outlinedSizeMedium.MuiButton-fullWidth.MuiButton-root.MuiButton-outlined.MuiButton-outlinedPrimary.MuiButton-sizeMedium.MuiButton-outlinedSizeMedium.MuiButton-fullWidth.css-xsqe0f-MuiButtonBase-root-MuiButton-root {
    margin-bottom: 20px;
}
